*.swp
config/NaturalDocs/Data
docs/dev/*
docs/user/*
docs/test-coverage/db
docs/test-coverage/html
release
snapshot
.DS_Store
build
Makefile.old
bin/pt-mongodb-*
bin/pt-secure-*
bin/pt-pg-*
bin/pt-k8s-debug-collector
bin/pt-galera-log-explainer
!src/go/pt-mongodb-query-digest/vendor/vendor.json
!src/go/pt-mongodb-summary/vendor/vendor.json
src/go/pt-mongodb-query-digest/vendor/
src/go/pt-mongodb-summary/vendor/
!vendor/vendor.json
vendor/
*.bak
src/go/*.bak
src/go/.env
config/deb/control.bak
config/rpm/percona-toolkit.spec.bak
config/sphinx-build/percona-theme/*
coverage.out
.idea
config/sphinx-build/__pycache__
