*.swp
config/NaturalDocs/Data
docs/dev/*
docs/user/*
docs/test-coverage/db
docs/test-coverage/html
release
snapshot
.DS_Store
build
Makefile.old
bin/pt-mongodb-*
!src/go/pt-mongodb-query-digest/vendor/vendor.json
!src/go/pt-mongodb-summary/vendor/vendor.json
src/go/pt-mongodb-query-digest/vendor/
src/go/pt-mongodb-summary/vendor/
!vendor/vendor.json
vendor/
