dist: trusty
sudo: required

language: go

go:
  - 1.8.x

services:
  - docker

env:
  matrix:
    - MONGODB_IMAGE=mongo:3.2
    - MONGODB_IMAGE=mongo:3.4
    - MONGODB_IMAGE=percona/percona-server-mongodb:3.2
    - MONGODB_IMAGE=percona/percona-server-mongodb:3.4

matrix:
  include:
    - go: tip
      env:

install:
  - go get -u github.com/Masterminds/glide
  # remove vendor dir and re-fetch it to check later if it's correct with `git diff --exit-code`
  - rm -rf vendor/
  - glide install

before_script:
  # check if vendor dir is correct
  - git diff --exit-code
  # run docker containers
  - docker-compose up -d
  # log versions
  - docker --version
  - docker-compose --version
  - docker-compose exec mongo mongo --version

script:
  - go test -timeout 1m $(glide nv)

notifications:
  email: false
  slack:
    on_success: change
    on_failure: change
    rooms:
      secure: E5ZRDFtbVmQCo2SLCdvecpaRIZPC35+0srkyA9jVq0BJpvVY6pm4OQceAugy/g5cd6c2reTN9oNSjNF62BKpoJxPuIuu8/JdlvUMMxgxnGkCC1R6hAddbapvIe4EXlybLPGy8kAG7OkYVpGHtWwN3U5MfF7/tGeqL2y8C3fCDZA=
