dist: trusty
sudo: required

language: go

go:
  - 1.8.x

services:
  - docker

env:
  matrix:
    - MONGODB_IMAGE=mongo:3.0
    - MONGODB_IMAGE=mongo:3.2
    - MONGODB_IMAGE=mongo:3.4
    - MONGODB_IMAGE=percona/percona-server-mongodb:3.0
    - MONGODB_IMAGE=percona/percona-server-mongodb:3.2
    - MONGODB_IMAGE=percona/percona-server-mongodb:3.4

matrix:
  include:
    - go: 1.9.x
      env:
    - go: tip
      env:

install:
  - go get -u github.com/Masterminds/glide
  - glide install -v

before_script:
  # run docker containers
  - docker-compose up -d
  # log versions
  - docker --version
  - docker-compose --version
  - docker-compose exec mongo mongo --version
  # we need at least one document in test db
  - docker-compose exec mongo --eval 'db.init.insert({})'

script:
  - go test -timeout 1m $(glide nv)

notifications:
  email: false
  slack:
    on_success: change
    on_failure: change
    rooms:
      secure: E5ZRDFtbVmQCo2SLCdvecpaRIZPC35+0srkyA9jVq0BJpvVY6pm4OQceAugy/g5cd6c2reTN9oNSjNF62BKpoJxPuIuu8/JdlvUMMxgxnGkCC1R6hAddbapvIe4EXlybLPGy8kAG7OkYVpGHtWwN3U5MfF7/tGeqL2y8C3fCDZA=
