Source: percona-toolkit
Section: utils
Priority: optional
Maintainer: Percona Toolkit Developers <toolkit-dev@percona.com>
Build-Depends: debhelper (>= 4.2)
Build-Depends-Indep: perl (>= 5.6.0-16)
Standards-Version: 3.7.2
Homepage: http://www.percona.com/software/percona-toolkit/
Vcs-Browser: http://bazaar.launchpad.net/~percona-toolkit-dev/percona-toolkit/0.9/files
Vcs-Bzr: bzr+ssh://bazaar.launchpad.net/~percona-toolkit-ddev/percona-toolkit/0.9/

Package: percona-toolkit
Architecture: all
Depends: ${perl:Depends}, libdbi-perl (>= 1.13), libdbd-mysql-perl | libdbd-mysql-5.1-perl, libterm-readkey-perl (>=2.10),
    libio-socket-ssl-perl
Description: Advanced MySQL and system command-line tools
 Percona Toolkit is a collection of advanced command-line tools used by
 Percona (http://www.percona.com/) support staff to perform a variety of
 MySQL and system tasks that are too difficult or complex to perform manually.
 .
 These tools are ideal alternatives to private or "one-off" scripts because
 they are professionally developed, formally tested, and fully documented.
 They are also fully self-contained, so installation is quick and easy and
 no libraries are installed. 
 .
 Percona Toolkit is developed and supported by Percona.  For more
 information and other free, open-source software developed by Percona,
 visit http://www.percona.com/software/.
